.m-example{
    opacity: .2;
    position: fixed;
    top: 0;

}

.m-body {
    width: 608px;
    height: 881px;
    margin: auto;
}

.m-box{
    width: 580px;
    height: 853px;
    margin: auto;
    border: 14px solid #f4f4f4;
}
.m-box1{
    margin: auto;
    width: 420px;
    height: 23px;
    /*background: #666666;*/
    position: relative;
    top: 16px;
    left: 7px;
}
.m-span1{
    font-size: 33px;
    font-weight: bold;
    font-family: Calibri;
    color: #fb451d;
}
.m-span2{
     margin-left: 110px;
 }
.m-box2{
    margin: auto;
    width: 470px;
    height: 30px;
    /*background: #666666;*/
    position: relative;
    top: 30px;
    left: 5px;
    font-size: 23.7px;
}
.m-span3{
    margin-left: 61px;
}
.m-box3{
    margin: auto;
    width: 580px;
    height: 52px;
    background: #ffe5de;
    position: relative;
    top: 60px;
    font-size: 23.7px;

}
.m-span4{
    position: relative;
    top: 10px;
    left: 164px;
    font-size: 24px;
}
.m-triangle{
    position: relative;
    border: 11px solid transparent;
    border-left-color: #f64322;
    border-radius: 0px;
    font-size: 0px;
    margin-left: 222px;
    top: 4px;
}
.m-box4{
    margin: auto;
    width: 680px;
    height: 30px;
    /*background: #666666;*/
    position: relative;
    top: 92px;
    left: 45px;
    font-size: 23.7px;
}
.m-span5{
    margin-left: 61px;
    font-weight: bold;
}
.m-box5{
    margin: auto;
    width: 65px;
    height: 4px;
    background: #ff4316;
    position: relative;
    top: 98px;
    right: 4px;
}
.m-box6{
    /*opacity: .2;*/
    margin: auto;
    width: 680px;
    height: 45px;
    position: relative;
    top: 129px;
    font-family: "Calibri";
    /*background: #666666;*/
}
.m-span6{

    margin-left: 25px;
    color: #ff4f0f;
    font-size: 24px;
}
.m-box7{
    /*opacity: .2;*/
    margin: auto;
    width: 680px;
    height: 45px;
    position: relative;
    top: 132px;
    font-family: "Calibri";
    /*background: #666666;*/
    font-size: 24px;
    left : 23px;
}
.m-span7{
    margin-left: 87px;
}
.m-box8{
    margin: auto;
    width: 576px;
    height: 464px;
    border-left: 2px solid #fd451f;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #fd451f;
    position: relative;
    top: 154px;
}
.m-span8{
    width: 141px;
    height: 151px;
    /*background: #f64322;*/
    position: relative;
    text-align: center;
    line-height: 136px;
    float: left;
    border-right: 2px solid #f4471f;
    border-top: 2px solid #f4471f;
}
.m-span9{
    font-size: 23.6px;
    position: relative;
    align-items: center;
    top: -100px;
    /*background: #f64322;*/
}
.m-span10{
    width: 142px;
    height: 151px;
    /*background: #f64322;*/
    position: relative;
    text-align: center;
    line-height: 136px;
    float: left;
    border-bottom: 2px solid #f4471f;
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-left: 2px solid #ffffff;
}
.m-span11{
    width: 142px;
    height: 151px;
    /*background: #f64322;*/
    position: relative;
    text-align: center;
    line-height: 136px;
    float: left;
    border-bottom: 2px solid #f4471f;
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
}
.m-span12{
    width: 141px;
    height: 151px;
    /*background: #f64322;*/
    position: relative;
    text-align: center;
    line-height: 136px;
    float: left;
    border-bottom: 2px solid #f4471f;
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
}
.m-div1{
    width: 576px;
    height: 310px;
    position: relative;
    top: 155px;
    border-right: 2px solid #fd4718;
}
.m-span13{
    position: relative;
    width: 141px;
    height: 151px;
    font-size: 23px;
    top: -138px;
    left: 51px;
    float: left;
    color: #f74a2c;
}
.m-span14{
    position: relative;
    width: 141px;
    height: 151px;
    font-size: 23px;
    top: -138px;
    left: 29px;
    float: left;
}
.m-span15{
    position: relative;
    width: 120px;
    height: 151px;
    font-size: 23px;
    top: -138px;
    left: 7.5px;
    float: left;
}
.m-span16{
    position: relative;
    width: 70px;
    height: 151px;
    font-size: 23px;
    top: -138px;
    left: 7px;
    float: left;
}
.m-span17{
    position: relative;
    width: 50px;
    height: 70px;
    font-size: 35px;
    top: -158px;
    left: 70px;
    float: left;
}
.m-div2{
    /*opacity: .2;*/
    width: 376px;
    height: 48px;
    position: relative;
    border: 2px solid #cccccc;
    top: -90px;
    left: 30px;
    font-size: 24px;
}
.m-span18{
    position: relative;
    margin-left: 9px;
    top: 10px;
}
.m-div3{
    width: 376px;
    height: 48px;
    position: relative;
    top: -80px;
    left: 38px;
    font-size: 24px;
}
.m-span19{
    position: relative;
    margin-left: 7px;
    font-weight: bold;
    font-family: Calibri;
    font-size: 31px;
    color: #f64322;
}
.m-div4{
    opacity: .2;
    width: 137px;
    height: 55px;
    position: relative;
    top: -80px;
    font-weight: bold;
    color: #ffffff;
    background: #fb451d;
    left: 30px;
    font-size: 24px;
}
.m-span20{
    position: relative;
    margin-left: 18px;
    top: 10px;
}